@import "tailwindcss";
/* Reload Trigger */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600;700&display=swap');

@layer base {
    body {
        background-color: white;
        color: #0f172a;
        /* slate-900 */
        font-family: 'Inter', sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    ::selection {
        background-color: #3b82f6;
        /* accent color */
        color: white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Poppins', sans-serif;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .animate-marquee {
        display: inline-block;
        white-space: nowrap;
        animation: marquee 25s linear infinite;
        padding-left: 60%;
        /* Start from 60% as requested */
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}